In [2]:
import numpy as np
import pandas as pd

In [3]:
cal_15 = pd.read_csv('~/downloads/may_airbnb_data/515calendar.csv')

In [4]:
cal_15.head()

   listing_id        date available    price
0      524299  2015-05-04         t  $250.00
1      524299  2015-05-05         t  $250.00
2      524299  2015-05-06         t  $250.00
3      524299  2015-05-07         t  $250.00
4      524299  2015-05-08         t  $250.00

In [4]:
cal_16 = pd.read_csv('~/downloads/may_airbnb_data/516calendar.csv')
cal_17 = pd.read_csv('~/downloads/may_airbnb_data/517calendar.csv')

In [6]:
cal_16.head()

   listing_id        date available price
0    10469182  2016-05-01         f   NaN
1    10469182  2016-05-02         f   NaN
2    10469182  2016-05-03         f   NaN
3    10469182  2016-05-04         f   NaN
4    10469182  2016-05-05         f   NaN

In [7]:
cal_17.head()

   listing_id        date available price
0      276170  2018-05-01         f   NaN
1      276170  2018-04-30         f   NaN
2      276170  2018-04-29         f   NaN
3      276170  2018-04-28         f   NaN
4      276170  2018-04-27         f   NaN

In [8]:
cal_17.price.value_counts()

$150.00      32977
$100.00      26520
$250.00      25897
$200.00      24837
$120.00      21372
             ...
$1,767.00        1
$1,339.00        1
$2,199.00        1
$1,676.00        1
$1,260.00        1
Name: price, Length: 1610, dtype: int64

In [5]:
cal_18 = pd.read_csv('~/downloads/may_airbnb_data/518calendar.csv')
cal_19 = pd.read_csv('~/downloads/may_airbnb_data/519calendar.csv')
cal_20 = pd.read_csv('~/downloads/may_airbnb_data/520calendar.csv')

In [10]:
cal_18.head()

   listing_id        date available      price
0    21065885  2019-05-08         f        NaN
1    21065885  2019-05-07         t  $5,000.00
2    21065885  2019-05-06         t  $5,000.00
3    21065885  2019-05-05         t  $5,000.00
4    21065885  2019-05-04         t  $2,000.00

In [11]:
cal_19.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,34158472,2019-05-03,f,$399.00,$399.00,2,1125
1,34158472,2019-05-04,f,$399.00,$399.00,2,1125
2,34158472,2019-05-05,t,$399.00,$399.00,2,1125
3,34158472,2019-05-06,t,$399.00,$399.00,2,1125
4,34158472,2019-05-07,t,$399.00,$399.00,2,1125

In [6]:
cal_20['year'] = 2020  
cal_19['year'] = 2019  
cal_18['year'] = 2018  
cal_17['year'] = 2017 
cal_16['year'] = 2016
cal_15['year'] = 2015

In [7]:
may_master_cal = pd.concat([cal_20, cal_19, cal_18, cal_17, cal_16, cal_15])

In [14]:
may_master_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year
0,74758,2020-05-06,t,$35.00,$35.00,30.0,1125.0,2020
1,74758,2020-05-07,t,$35.00,$35.00,30.0,1125.0,2020
2,74758,2020-05-08,t,$35.00,$35.00,30.0,1125.0,2020
3,74758,2020-05-09,t,$35.00,$35.00,30.0,1125.0,2020
4,74758,2020-05-10,t,$35.00,$35.00,30.0,1125.0,2020

In [32]:
#may_master_cal.to_csv('may_master_cal.csv')

In [8]:
list_15 = pd.read_csv('~/downloads/may_airbnb_data/515listings.csv')

In [34]:
list_15.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,picture_url,host_id,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,calculated_host_listings_count,reviews_per_month
0,295240,https://www.airbnb.com/rooms/295240,20150504112114,2015-05-04,Luxury Apartment Oasis w/ Hot Tub,NaN,This lower apartment unit is total private and...,This lower apartment unit is total private and...,https://a1.muscache.com/ic/pictures/3090603/49...,1525192,...,10.0,10.0,10.0,10.0,10.0,t,NaN,SAN FRANCISCO,1,0.6
1,4882829,https://www.airbnb.com/rooms/4882829,20150504112114,2015-05-04,Private room in Inner Richmond,NaN,This is a great & extremely safe neighborhood ...,This is a great & extremely safe neighborhood ...,https://a2.muscache.com/ic/pictures/61369530/c...,25118670,...,NaN,NaN,NaN,NaN,NaN,t,NaN,SAN FRANCISCO,1,1.0
2,4850420,https://www.airbnb.com/rooms/4850420,20150504112114,2015-05-04,Edge of SOMA + the Mission,Perfect Christmas getaway to SF on the edge of...,NaN,Perfect Christmas getaway to SF on the edge of...,https://a1.muscache.com/ic/pictures/60818090/a...,1358761,...,NaN,NaN,NaN,NaN,NaN,t,NaN,SAN FRANCISCO,1,NaN
3,1278848,https://www.airbnb.com/rooms/1278848,20150504112114,2015-05-04,Sunny Nob Hill 1 br (entire apt),NaN,This is a charming 1 bedroom apartment on the ...,This is a charming 1 bedroom apartment on the ...,https://a2.muscache.com/ic/pictures/19278951/c...,6959333,...,7.0,9.0,10.0,9.0,8.0,t,NaN,SAN FRANCISCO,1,0.5
4,5068275,https://www.airbnb.com/rooms/5068275,20150504112114,2015-05-04,Huge & Sunny 1BR Loft,"1BR/1BA loft with 30-ft high ceilings, large ...","With 30-foot high ceilings, this 1BR/1BA loft ...","1BR/1BA loft with 30-ft high ceilings, large ...",https://a2.muscache.com/ic/pictures/65250390/b...,350767,...,9.0,8.0,8.0,10.0,9.0,t,NaN,SAN FRANCISCO,1,1.7

In [35]:
list_15.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_picture_url', 'street', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city',
       'state', 'zipcode', 'market', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'square_feet', 'price',
       'weekly_price', 'monthly_price', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'calendar_updated',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [12]:
may_master_list.drop(['availability_30'], axis=1, inplace = True)

In [13]:
may_master_list.drop(['availability_60'], axis=1, inplace = True)
may_master_list.drop(['availability_90'], axis=1, inplace = True)
may_master_list.drop(['availability_365'], axis=1, inplace = True)
may_master_list.drop(['extra_people'], axis=1, inplace = True)
may_master_list.drop(['minimum_nights'], axis=1, inplace = True)
may_master_list.drop(['maximum_nights'], axis=1, inplace = True)
may_master_list.drop(['calendar_updated'], axis=1, inplace = True)

In [14]:
may_master_list.drop(['summary'], axis=1, inplace = True)
may_master_list.drop(['space'], axis=1, inplace = True)
may_master_list.drop(['name'], axis=1, inplace = True)
may_master_list.drop(['host_picture_url'], axis=1, inplace = True)
may_master_list.drop(['host_url'], axis=1, inplace = True)
may_master_list.drop(['first_review'], axis=1, inplace = True)
may_master_list.drop(['last_review'], axis=1, inplace = True)

In [15]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'experiences_offered', 'neighborhood_overview', 'notes', 'transit',
       'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url',
       'picture_url', 'xl_picture_url', 'host_id', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'calendar_last_scraped',
       'number_of_reviews', 'number_of_reviews_ltm', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'year'],
      dtype='object')

In [16]:
may_master_list.drop(['experiences_offered'], axis=1, inplace = True)
may_master_list.drop(['jurisdiction_names'], axis=1, inplace = True)
may_master_list.drop(['calendar_last_scraped'], axis=1, inplace = True)
may_master_list.drop(['cancellation_policy'], axis=1, inplace = True)
may_master_list.drop(['number_of_reviews_ltm'], axis=1, inplace = True)
may_master_list.drop(['neighborhood_overview'], axis=1, inplace = True)
may_master_list.drop(['xl_picture_url'], axis=1, inplace = True)

In [17]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'host_id', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'is_business_travel_ready',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'year'],
      dtype='object')

In [18]:
may_master_list.drop(['notes'], axis=1, inplace = True)
may_master_list.drop(['access'], axis=1, inplace = True)
may_master_list.drop(['interaction'], axis=1, inplace = True)
may_master_list.drop(['house_rules'], axis=1, inplace = True)
may_master_list.drop(['thumbnail_url'], axis=1, inplace = True)
may_master_list.drop(['medium_url'], axis=1, inplace = True)
may_master_list.drop(['picture_url'], axis=1, inplace = True)

In [19]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'transit', 'host_id', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'is_business_travel_ready',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'year'],
      dtype='object')

In [20]:
may_master_list.drop(['host_name'], axis=1, inplace = True)
may_master_list.drop(['host_about'], axis=1, inplace = True)
may_master_list.drop(['host_thumbnail_url'], axis=1, inplace = True)
may_master_list.drop(['host_identity_verified'], axis=1, inplace = True)
may_master_list.drop(['cleaning_fee'], axis=1, inplace = True)
may_master_list.drop(['reviews_per_month'], axis=1, inplace = True)
may_master_list.drop(['amenities'], axis=1, inplace = True)
may_master_list.drop(['neighbourhood_group_cleansed'], axis=1, inplace = True)
may_master_list.drop(['neighbourhood_cleansed'], axis=1, inplace = True)
may_master_list.drop(['host_verifications'], axis=1, inplace = True)
may_master_list.drop(['host_response_rate'], axis=1, inplace = True)

In [21]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'transit', 'host_id', 'host_since', 'host_location',
       'host_response_time', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic', 'street',
       'neighbourhood', 'city', 'state', 'zipcode', 'market', 'smart_location',
       'country_code', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'guests_included',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'is_business_travel_ready',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'year'],
      dtype='object')

In [22]:


may_master_list.drop(['host_location'], axis=1, inplace = True)
may_master_list.drop(['host_response_time'], axis=1, inplace = True)
may_master_list.drop(['host_acceptance_rate'], axis=1, inplace = True)
may_master_list.drop(['host_neighbourhood'], axis=1, inplace = True)
may_master_list.drop(['host_has_profile_pic'], axis=1, inplace = True)
may_master_list.drop(['minimum_minimum_nights'], axis=1, inplace = True)
may_master_list.drop(['maximum_minimum_nights'], axis=1, inplace = True)
may_master_list.drop(['minimum_maximum_nights'], axis=1, inplace = True)

In [23]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'transit', 'host_id', 'host_since', 'host_is_superhost',
       'host_listings_count', 'host_total_listings_count', 'street',
       'neighbourhood', 'city', 'state', 'zipcode', 'market', 'smart_location',
       'country_code', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'guests_included',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'is_business_travel_ready',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'year'],
      dtype='object')

In [24]:
may_master_list.shape

(42486, 59)

In [25]:
may_master_list.drop(['host_is_superhost'], axis=1, inplace = True)
may_master_list.drop(['host_listings_count'], axis=1, inplace = True)
may_master_list.drop(['bed_type'], axis=1, inplace = True)
may_master_list.drop(['security_deposit'], axis=1, inplace = True)
may_master_list.drop(['guests_included'], axis=1, inplace = True)
may_master_list.drop(['maximum_maximum_nights'], axis=1, inplace = True)
may_master_list.drop(['minimum_nights_avg_ntm'], axis=1, inplace = True)
may_master_list.drop(['maximum_nights_avg_ntm'], axis=1, inplace = True)

In [54]:
may_master_list.shape

(42486, 51)

In [19]:
may_master_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'description',
       'transit', 'host_id', 'host_since', 'host_total_listings_count',
       'street', 'neighbourhood', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'has_availability', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'requires_license', 'license',
       'instant_bookable', 'is_business_travel_ready',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'year'],
      dtype='object')

In [26]:
may_master_list.drop(['calculated_host_listings_count_entire_homes'], axis=1, inplace = True)
may_master_list.drop(['calculated_host_listings_count_private_rooms'], axis=1, inplace = True)
may_master_list.drop(['calculated_host_listings_count_shared_rooms'], axis=1, inplace = True)
may_master_list.drop(['require_guest_phone_verification'], axis=1, inplace = True)
may_master_list.drop(['is_business_travel_ready'], axis=1, inplace = True)

In [57]:
may_master_list.value_counts()

SyntaxError: invalid syntax (<ipython-input-57-c1bd18bf8b8f>, line 1)

In [ ]:
may_master_list.columns

In [27]:
may_master_list.drop(['listing_url'], axis=1, inplace = True)
may_master_list.drop(['market'], axis=1, inplace = True)
may_master_list.drop(['review_scores_cleanliness'], axis=1, inplace = True)
may_master_list.drop(['review_scores_checkin'], axis=1, inplace = True)
may_master_list.drop(['review_scores_communication'], axis=1, inplace = True)
may_master_list.drop(['monthly_price'], axis=1, inplace = True)
may_master_list.drop(['weekly_price'], axis=1, inplace = True)
may_master_list.drop(['smart_location'], axis=1, inplace = True)
may_master_list.drop(['is_location_exact'], axis=1, inplace = True)
may_master_list.drop(['instant_bookable'], axis=1, inplace = True)

In [ ]:
may_master_list.columns

In [28]:
may_master_list.to_csv('may_master_list_edited.csv')

In [9]:
list_16 = pd.read_csv('~/downloads/may_airbnb_data/516listings.csv')
list_17 = pd.read_csv('~/downloads/may_airbnb_data/517listings.csv')
list_18 = pd.read_csv('~/downloads/may_airbnb_data/518listings.csv')
list_19 = pd.read_csv('~/downloads/may_airbnb_data/519listings.csv')
list_20 = pd.read_csv('~/downloads/may_airbnb_data/520listings.csv')

In [10]:
list_20['year'] = 2020 
list_19['year'] = 2019 
list_18['year'] = 2018
list_17['year'] = 2017
list_16['year'] = 2016
list_15['year'] = 2015

In [11]:
may_master_list = pd.concat([list_20, list_19, list_18, list_17, list_16, list_15])

In [ ]:
may_master_list.describe()

In [ ]:
#may_master_list.to_csv('may_master_list.csv')

In [29]:
rev_15 = pd.read_csv('~/downloads/may_airbnb_data/515reviews.csv')

In [60]:
rev_15.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,295240,913796,2012-02-11,21283,Nick,Kristoffer was an amazing host and our stay at...
1,295240,943949,2012-02-23,1678696,Stephen,Great flat! Great hosts! Great location! I w...
2,295240,988257,2012-03-11,1741830,Margot,"Great flat, great place and city!"
3,295240,1020370,2012-03-19,1887360,Abbie,This apartment was everything and more! The l...
4,295240,1129408,2012-04-14,1338095,Mike,The place was perfect! Close to transportatio...

In [30]:
rev_16 = pd.read_csv('~/downloads/may_airbnb_data/516reviews.csv')
rev_17 = pd.read_csv('~/downloads/may_airbnb_data/517reviews.csv')
rev_18 = pd.read_csv('~/downloads/may_airbnb_data/518reviews.csv')
rev_19 = pd.read_csv('~/downloads/may_airbnb_data/519reviews.csv')
rev_20 = pd.read_csv('~/downloads/may_airbnb_data/520reviews.csv')

In [62]:
cal_15.head()

   listing_id        date available    price  year
0      524299  2015-05-04         t  $250.00  2015
1      524299  2015-05-05         t  $250.00  2015
2      524299  2015-05-06         t  $250.00  2015
3      524299  2015-05-07         t  $250.00  2015
4      524299  2015-05-08         t  $250.00  2015

In [ ]:
#may_cal_last = pd.merge(may_master_cal, may_master_list, on='listing_id', how='left')

In [31]:
may_master_rev = pd.concat([rev_20, rev_19, rev_18, rev_17, rev_16, rev_15])

In [ ]:
#may_master_rev.to_csv('may_master_rev.csv')

In [ ]:
#may_cal_rev = pd.merge(may_master_cal, may_master_rev, on='listing_id', how='inner')

In [ ]:
may_master

may_master_list.head()

In [32]:
may_master_list.drop(['require_guest_profile_picture'], axis=1, inplace = True)

In [ ]:
may_master_list.columns

In [ ]:
may_master_list.head()

In [ ]:
may_master_list.jurisdiction_names.value_counts()

In [ ]:
may_master_cal.head()

In [ ]:
#may_cal_list = pd.merge(may_master_cal, may_master_list, on='listing_id', how='inner')

In [ ]:
may_master_list.head()

In [ ]:
may_master_rev.head()

In [33]:
may_master_rev.drop(['comments'], axis=1, inplace = True)

In [34]:
may_master_rev.drop(['reviewer_name'], axis=1, inplace = True)

In [35]:
may_master_rev.drop(['date'], axis=1, inplace = True)

In [43]:
may_master_rev.head()

   listing_id     id  reviewer_id
0         958   5977        15695
1         958   6660        26145
2         958  11519        25839
3         958  16282        33750
4         958  26008        15416

In [44]:
may_master_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year
0,74758,2020-05-06,t,$35.00,$35.00,30.0,1125.0,2020
1,74758,2020-05-07,t,$35.00,$35.00,30.0,1125.0,2020
2,74758,2020-05-08,t,$35.00,$35.00,30.0,1125.0,2020
3,74758,2020-05-09,t,$35.00,$35.00,30.0,1125.0,2020
4,74758,2020-05-10,t,$35.00,$35.00,30.0,1125.0,2020

In [36]:
may_master_cal.drop(['adjusted_price'], axis=1, inplace = True)
may_master_cal.drop(['minimum_nights'], axis=1, inplace = True)
may_master_cal.drop(['maximum_nights'], axis=1, inplace = True)

In [37]:
may_master_rev.to_csv('may_master_rev_edited.csv')

In [38]:
may_master_cal.to_csv('may_master_cal_edited.csv')

may_master_cal.head()

In [ ]:
may_cal_rev = pd.merge(may_master_cal, may_master_rev, on='listing_id', how='inner')

In [ ]:
may_cal_rev_list = pd.merge(may_cal_rev, may_master_list, on='id', how='inner')